body {
  height: 100vh;
  min-height: 100vh;
}
.wrapper {
  height: 100%;
  width: 100%;
}
.inner-wrapper {
  width: 100%;
  height: 100%;
  margin: 0px;

  #header {
    .header__navigator {
      width: 100%;
      height: 45px;
      background: royalblue;
      display: flex;
      flex-direction: row;
      align-items: center;
    
      .navigator-menu__home-container {
        .home-button {
          span {
            color: white;
          }
          .button-icon {
            margin-left: 14px;
            margin-right: 5px;
            display: inline-block;
            vertical-align: middle;
            font-size: 1.5em;
          }
          .button-label {
            font-size: 1.2em;
            font-weight: 500;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            letter-spacing: 1px;
          }
        }
      }

      .navivator-menu__left-container {
        .navigator-menu__list {
          display: flex;
          flex-direction: row;
      
          li {
            margin-left: 10px;
            margin-right: 20px;
      
            span {
              color: white;
            }
      
            .button-label {
              font-size: 0.8em;
              font-weight: 100;
              font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
      
            .button-icon {
              display: inline-block;
              vertical-align: middle;
              font-size: 0.9em;
            }
          }
        }
      }

      .navigator-menu__right-container {

      }
    }
  }

  #main {
    width: 100%;
    height: 100%;

    .board__container {
      width: 100%;
      height: 100%;
      flex: 1 1 0%;
      position: relative;
      overflow-y: auto;
      background: linear-gradient(lightseagreen, LemonChiffon);
    
      .board-header {
        width: 100%;
        height: 50px;
        background: lightseagreen;

        .board-header__menu {
          .board-header__menu-container {
            .board-header__menu-list {
              margin-top: 3px;
              margin-left: 35px;
              height: 50px;
              display: flex;
              flex-direction: row;
              align-items: center;

              li {
                margin-left: 5px;
                margin-right: 5px;

                button {
                  padding: 4px 9px 6px 9px;
                  border-radius: 4px;
                  background-color: lighten(lightseagreen, 5%);
                  -webkit-box-shadow: 0px 3px 3px -3px rgba(0, 0, 0, 0.2);
                  box-shadow: 0px 3px 3px -3px rgba(0, 0, 0, 0.2);
                  
                  span {
                      color: white;
                    }
                  
                    .button-label {
                      font-size: 0.8em;
                      font-weight: 100;
                      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    }
                  
                    .button-icon {
                      display: inline-block;
                      vertical-align: middle;
                      font-size: 0.9em;
                    }
                }

                button:hover {
                  background-color: darken(lightseagreen, 5%);
                }
              }
            }
          }
        }
      }

      .board__sidebar {
        width: 260px;
        height: 100%;
        top: 0px;
        left: -243px;
        background: royalblue;
        position: absolute;
        box-sizing: border-box;
        border-right: 1px darken(#eaeaea, 10%) solid;
        transform: translateX(0%);
        -webkit-transform: translageX(0%);

        .icon-wrap {
          position: absolute;
          top: 9px;
          right: -14px;
          width: 28px;
          height: 28px;
          border-radius: 50%;
          background: royalblue;
          border: 1px #eaeaea solid;
        }

        &.slide-in {
          animation: slide-in 0.5s forwards;
          -webkit-animation: slide-in 0.5s forwards
        }

        @keyframes slide-in {
          100% {
            transform: translateX(243px)
          }
        }

        @-webkit-keyframes slide-in {
          100% {
            -webkit-transform: translateX(243px)
          }
        }

        &.slide-out {
          animation: slide-out 0.5s forwards;
          -webkit-animation: slide-out 0.5s forwards;
        }

        @keyframes slide-out {
          0% {
            transform: translateX(243px);
          }

          100% {
            transform: translateX(0px);
          }
        }

        @-webkit-keyframes slide-out {
          0% {
            -webkit-transform: translateX(243px);
          }

          100% {
            -webkit-transform: translateX(0px);
          }
        }


        .sidebar-menu {
          padding-top: 20px;
          width: 100%;

          .separate-border {
            border: 1px solid white;
            width: 220px;
            height: 1px;
            box-sizing: border-box;
            margin-left: 20px;
            margin-right: 20px;
          }

          .sidebar-menu__board-name {
            margin: 20px 20px 20px 20px;
            width: 220px;
            box-sizing: border-box;
            text-align: center;
            height: 30px;
            
            span {
              display: block;
              width: 100%;
              color: white;
              font-size: 1em;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow-x: hidden;
              font-weight: 700;
            }
          }

          .sidebar-menu-container {
            padding-top: 20px;

            .sidebar-menu__list {

              li {
                margin: 8px 10px 8px 10px;

                span {
                  color: white;
                }

                .button-label {
                  font-size: 0.9em;
                  font-weight: 100;
                  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                  letter-spacing: 1px;
                }

                .button-icon {
                  margin-left: 10px;
                  margin-right: 6px;
                  display: inline-block;
                  vertical-align: middle;
                  font-size: 1.3em;
                }
              }
            }
          }
        }
      }
      .slidebar-close:hover {
        background: lighten(royalblue, 10%);
        .icon-wrap {
          background: lighten(royalblue, 10%);
        }
      }


      .board__main-container {
        .todo__list-wrapper {
          display: flex;
          flex-direction: row;

          .todo__list-inner-first{
            margin-left: 23px;
          }
          .todo__list-inner {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            margin-top: 10px;

            .list-container {
              box-sizing: border-box;
              width: 280px;
              height: auto;
              margin-right: 7px;
              margin-left: 7px;
              padding: 0px 10px 0px 10px;
              border-radius: 4px;
              -webkit-box-shadow: 0px 3px 5px -3px rgba(0,0,0,0.7); 
              box-shadow: 0px 3px 5px -3px rgba(0,0,0,0.7);
            }
            .todo__list {
              background: #dddede;

              .list-title {
                font-size: 0.7em;
                font-weight: 510;
                color: #4f4f4f;
                margin-top: 12px;
                margin-bottom: 12px;
                padding-top: 10px;
                padding-bottom: 10px;
                background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(112,112,177,0) 48%, cornflowerblue 53%, rgba(142,142,193,0) 58%, rgba(255,255,255,0) 100%);

                h2 {
                  display: inline-block;
                  background: #dddede;
                  padding-left: 10px;
                  padding-right: 10px;
                }
              }
              .todo__item-list {
                .todo__item {
                  margin: 10px 0px 10px 0px;
                  background: white;
                  border-radius: 4px;
                  -webkit-box-shadow: 2px 4px 5px -5px rgba(0,0,0,0.7); 
                  box-shadow: 2px 4px 5px -5px rgba(0,0,0,0.7);

                  .item__inner {
                    padding: 10px 10px 10px 10px;
                    color: #5f5f5f;
                    font-weight: 200;

                    .item__title {
                      padding: 5px 0px 5px 0px;
                      font-size: 0.67em;
                    }

                    .item__content {
                      padding: 7px 10px 7px 10px;
                      font-size: 0.65em;
                    }
                  }
                }
              }
              
              // add item button & form
              .todo__add-item-cotainer {
                .todo__add-form {
                  margin: 10px 0px 10px 0px;
                  .add-form__inner {
                    margin: 10px 0px 10px 0px;

                    .add-form__input {
                      box-sizing: border-box;
                      width:100%;
                      height: 30px;
                      margin-top: 10px;
                      margin-bottom: 7px;
                      padding-left: 10px;
                      padding-right: 10px;
                      background: white;
                      border: 0px;
                      border-radius: 4px;
                      -webkit-box-shadow: 2px 4px 5px -5px rgba(0,0,0,0.7); 
                      box-shadow: 2px 4px 5px -5px rgba(0,0,0,0.7);
                      font-size: 0.65em;
                      font-family: Arial, Helvetica, sans-serif;
                    }
                    
                    .add-form__input::placeholder {
                      color: #bfbfbf;
                    }

                    .add-form__textarea {
                      box-sizing: border-box;
                      resize: none;
                      width: 100%;
                      height: auto;
                      min-height: 70px;
                      padding: 10px 10px 10px 10px;
                      background: white;
                      border: 0px;
                      border-radius: 4px;
                      -webkit-box-shadow: 2px 4px 5px -5px rgba(0,0,0,0.7); 
                      box-shadow: 2px 4px 5px -5px rgba(0,0,0,0.7);
                      font-size: 0.65em;
                      font-family: Arial, Helvetica, sans-serif;
                    }

                    .add-form__textarea::placeholder {
                      color: #bfbfbf;
                    }
                  }
                  .add-form__flex-inner {
                    box-sizing: border-box;
                    margin: 10px 0px 10px 0px;
                    display: flex;

                    .add-form__exec {
                      display: flex;
                      align-items: center;
                      margin: 0px;
                      padding: 0px;

                      .add-form__submit {
                        box-sizing: border-box;
                        margin: 0px;
                        padding: 0px;
                        width: 90px;
                        height: 35px;
                        border: 0px;
                        background: cornflowerblue;
                        border-radius: 4px;
                        font-size: 0.69em;
                        color: white;
                        cursor: pointer;
                      }
                      .add-form__submit:hover {
                        background: darken(cornflowerblue, 5%)
                      }
                      .add-form__close {
                        display: inline-flex;
                        align-items: center;
                        margin: 0px 20px 0px 20px;
                        height: 35px;
                        font-size: 20pt;
                        cursor: pointer;
                        color: #5f5f5f;
                      }
                    }
                  }
                }
                .add-form__show {
                  margin: 10px 0px 10px 0px;
                  padding: 0px 10px 0px 10px;
                  font-size: 0.69em;
                  color: #5f5f5f;
                  cursor: pointer;

                  .add-form__show-btn {
                    padding: 10px 0px 10px 0px;
                  }
                }
                .add-form__show:hover {
                  background: darken(#dddcdc, 10%);
                  border-radius: 4px;
                }
              }
            }

            // add list button & form
            .todo__add-list {
              background:cornflowerblue;

              .todo__add-list-cotainer {
                .add-form__inner {
                  margin: 10px 0px 10px 0px;

                  .add-form__input {
                    box-sizing: border-box;
                    width:100%;
                    height: 30px;
                    background: white;
                    padding-left: 10px;
                    padding-right: 10px;
                    border: 0px;
                    border-radius: 4px;
                    -webkit-box-shadow: 2px 4px 5px -5px rgba(0,0,0,0.7); 
                    box-shadow: 2px 4px 5px -5px rgba(0,0,0,0.7);
                  }

                  .add-form__input::placeholder {
                    color: #bfbfbf;
                  }
                }
                .add-form__flex-inner {
                  box-sizing: border-box;
                  margin: 10px 0px 10px 0px;
                  display: flex;

                  .add-form__exec {
                    display: flex;
                    align-items: center;
                    margin: 0px;
                    padding: 0px;

                    .add-form__submit {
                      box-sizing: border-box;
                      margin: 0px;
                      padding: 0px;
                      width: 90px;
                      height: 35px;
                      border: 0px;
                      background: darken(cornflowerblue, 5%);
                      border-radius: 4px;
                      font-size: 0.69em;
                      color: white;
                      cursor: pointer;
                    }
                    .add-form__submit:hover {
                      background: darken(cornflowerblue, 10%)
                    }
                    .add-form__close {
                      display: inline-flex;
                      align-items: center;
                      margin: 0px 20px 0px 20px;
                      height: 35px;
                      font-size: 20pt;
                      cursor: pointer;
                      color: #5f5f5f;
                    }
                  }
                }

                .add-form__show {
                  margin: 10px 0px 10px 0px;
                  padding: 0px 10px 0px 10px;
                  font-size: 0.69em;
                  color: white;
                  cursor: pointer;

                  .add-form__show-btn {
                    padding: 10px 0px 10px 0px;
                  }
                }
                .add-form__show:hover {
                  background: darken(cornflowerblue, 5%);
                  border-radius: 4px;
                }

              }
            }
          }
        }
      }
    }
  }
}

.hide {
  display: none;
}
