.home__wrapper {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(32, 178, 170, 0.5) 0%, rgba(255, 255, 255, 1) 55%, rgba(255, 255, 255, 0) 100%);

  .home-navigator__contaier {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: white;

    .header__navigator {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;

      button {
        display: block;
        margin: 0;
        padding: 0;
        border: none;
        outline: none;
        background: none;
        font-size: inherit;
        cursor: pointer;
      }
  
      .navigator-menu__home-container {
        .home-button {
          span {
            color: #264653;
          }
  
          .button-icon {
            margin-left: 13px;
            margin-right: 2px;
            display: inline-block;
            vertical-align: middle;
            font-size: 1.5em;
          }
  
          .button-label {
            vertical-align: middle;
            font-size: 1.3em;
            font-weight: 600;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            letter-spacing: 1px;
          }
        }
      }
  
      .navivator-menu__left-container {
        .navigator-menu__list {
          display: flex;
          flex-direction: row;
  
          li {
            margin-left: 10px;
            margin-right: 20px;
  
            span {
              color: white;
            }
  
            .button-label {
              font-size: 0.8em;
              font-weight: 100;
              font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
  
            .button-icon {
              display: inline-block;
              vertical-align: middle;
              font-size: 0.9em;
            }
          }
        }
      }
  
      .navigator-menu__right-container {}
    }
  }

  .home-main__container {
    width: 100%;
    height: auto;

    .home-main {
      display: flex;
      flex-direction: column;
      align-items: center;

      .home-main__banner {
        display: flex;
        flex-direction: row;
        width: 1140px;
        height: 590px;
        // background-color: beige;
        padding-top: 40px;
        box-sizing: border-box;
        border-bottom: 1px rgb(209, 209, 209) solid;

        .home-main__banner-left {
          width: 600px;
          margin-top: 80px;
          margin-left: 10px;
          box-sizing: border-box;

          .banner__contents {
            h1 {
              margin-top: 10px;
              font-size: 2.5em;
              font-weight: 700;
              line-height: 1.2;
              font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
            p {
              margin-top: 20px;
              margin-left: 30px;
              line-height: 1.5;
              color: rgb(81, 81, 81);
              font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
          }
          .banner__sign-up-form {
            margin-top: 70px;
            
            input {
              margin-left: 20px;
              width: 320px;
              height: 50px;
              border: 1px rgb(187, 187, 187) solid;
              border-radius: 5px;
              font-size: 0.9em;
              padding-left: 15px;
              font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
            button {
              margin-left: 10px;
              width: 160px;
              height: 54px;
              border: none;
              background-color: rgba(32, 178, 170, 1);
              border-radius: 5px;
              font-size: 0.9em;
              color: white;
              font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
          }
          
        }

        .home-main__banner-right {
          width: 540px;
          height: 100%;
          background: url("../assets/image/home_banner-removebg.png") no-repeat center center;
          background-size: 520px;
        }
      }
    }
  }
}
